- if @report
  %table.aui
    %thead
      %tr
        - params['group_by'].each do |grouping|
          %th{:id => grouping, :class => 'string'} #{grouping.capitalize}
        - @periods.each do |period|
          - if period['date']
            %th{:id => period['date'], :class => 'number'} #{period['date']}
        %th#total_time{:class => 'number'} Total Time
    %tbody
      - @report.last.each do |report_row|
        - i = 1
        - condition = "h[params['group_by'][0]] == report_row[params['group_by'][0]]"
        - while i < @report.size
          - condition_lambda = eval "->(h) {#{condition}}"
          - report_row_grouping = @report[i-1].detect &condition_lambda
          - if report_row_grouping.present? && !report_row_grouping['rendered']
            %tr
              = render 'report_row', report_row: report_row_grouping, params: params, periods: @periods, grouping_number: i
              - report_row_grouping['rendered'] = true
          - condition += " && h[params['group_by'][#{i}]] == report_row[params['group_by'][#{i}]]"
          - i += 1
        %tr
          - grouping_number = @report.size
          = render 'report_row', report_row: report_row, params: params, periods: @periods, grouping_number: grouping_number
    %tfoot
      %tr.footer
        - params['group_by'].each_with_index do |grouping, index|
          - value = index == 0 ? 'Total Time' : ''
          %td{:id => grouping, :class => 'string'} #{value}
        - @periods.each do |period|
          - if period['date']
            %td{:id => period['date'], class: 'number'} #{to_hours(period['seconds'])}
        %td#total_time{class: 'number'} #{to_hours(@periods.last['total_time'])}

