- params['group_by'].each_with_index do |grouping, index|
  - value = report_row[grouping] && (index+1 == grouping_number) ? report_row[grouping] : ''
  %td{:headers => grouping, :class => 'string'}
    %p
      - if value.present?
        - if ['project', 'issue'].include?(grouping)
          - key = value.split(/:/).first
          -#= link_to key, "https://testtost2018:zzz123456789@romand.atlassian.net/browse/#{key}"
          = link_to key, "https://romand.atlassian.net/browse/#{key}"

          = ": #{value.split(/:/).last}"
        - elsif grouping == 'assignee'
          -#= link_to value, "https://testtost2018:zzz123456789@romand.atlassian.net/secure/ViewProfile.jspa?name=#{value}"
          = link_to value, "https://romand.atlassian.net/secure/ViewProfile.jspa?name=#{value}"
        - else
          = value
- @periods.each do |period|
  - if period['date']
    - period_record = report_row[params['detail_by']].find {|h| h['date'] == period['date']}
    - value = period_record.present? ? period_record['seconds'] : ''
    %td{:headers => period['date'], class: 'number'} #{to_hours(value)}
%td{:headers => 'total_time', class: 'bold_number'} #{to_hours(report_row['total_time'])}
