- if @report.present?
  %table.aui
    %thead
      %tr
        - @report['header'].each do |value, type|
          %th{:id => value, :class => style('header', type)}
            = type == 'period' ? value : value.titlecase
    %tbody
      - @report['body'].each do |body_row|
        %tr
          - body_row.each_with_index do |value, i|
            %td{:headers => @report['header'][i], :class => style('body', data_type(i))}
              %p
                - if value.present?
                  - if ['project', 'issue'].include?(@grouping[i])
                    - key = value.split(/:::/).first
                    -#= link_to key, "https://testtost2018:zzz123456789@romand.atlassian.net/browse/#{key}"
                    = link_to key, "https://romand.atlassian.net/browse/#{key}"
                    = ": #{value.split(/:::/).last}"
                  - elsif @grouping[i] == 'assignee'
                    -#= link_to value, "https://testtost2018:zzz123456789@romand.atlassian.net/secure/ViewProfile.jspa?name=#{value}"
                    = link_to value, "https://romand.atlassian.net/secure/ViewProfile.jspa?name=#{value}"
                  - else
                    = value
    %tfoot
      %tr.footer
        - @report['footer'].each_with_index do |value, i|
          %td{:id => @report['header'][i], :class => style('footer', data_type(i))}
            = value
      %tr
        = link_to 'Export to csv', jira_show_path(format: :csv, params: @report_params)
